html{
    font-size: 100%;
}

body{
    margin: 0px;
    text-align: center;
    background-color: paleturquoise;
}

a{
    cursor: pointer;
    text-decoration: none;
}


.mainlogo{
    position: relative;
    top: -15%;
    height: 127.5%;
}


h1{
    margin: 0;
    font-size: 100%;
}

.menubar{
    height: 15%;
    background-color: palevioletred;
    text-align: center;
    /*font-size: 2em; */
}

.narrowbar {
    margin: 0;
    position: relative;
    align-content: center;
    text-align: center;
    width: 60%;
    left: 20%;
    height: 80%;
    top: 10%;
}

.notlogo{
    position: relative;
    top: -25%;
    font-size: 120%;
}


.rightside {
    position: relative;
    top: -2em;
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
}

.leftside{
    font-size: 180%;
    top: -2em;
    float: left;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    left: -10%;
}
.memberstab{
    position: relative;
    right: 5%;
}
.livetab{
    position: relative;
    left: 5%;
}
.recordstab
{
    position: relative;
    left: 10%;
}







.menubar a:hover {
    color: black;
}  
.menubar a.active {
    color: white;
}



.middlebox
{
    position: relative;
    left: 28%;
    width: 0%;
    border-width: 0.1%;
    border-radius: 0.1%;
    align-items: center;


    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;

  
}

.picturebox {
    margin: 0;
    border-style: hidden;
    border-color: black;
    border-width: 0;
    border-radius: 0;
    padding: 0px;
    display: block;
    position:relative;
}



.videobox {
    border-style: hidden;
    border-color: black;
    padding: 0px;
    display: block;
}

#youtubebox
{
    width: 100%;
}





.fa-twitter{
    color: aqua;
}

.fa-instagram{
    color: white;
}

.fa-youtube{
    color: red;
}
.fa-facebook{
    color: blue;
}
.fa-spotify{
    color: green;
}